@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ----------------- HEADER ----------------- */
  .header-contacts {
    margin-bottom: 15px;
  }

  .navigation-wrapper {
    /* justify-content: space-between; */
  }

  .mobile-menu-open {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-list-one {
    margin-left: 52px;
    margin-right: auto;
  }

  .header-list-two {
    margin-right: 43px;
  }

  .header-list-link {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-transform: uppercase;
    color: var(--headers-color);
  }

  /* ----------------- HERO ----------------- */

  .section-hero {
    background-image: url("../images/hero/bg-desktop.jpg");

    padding-top: 216px;
    padding-bottom: 83px;
  }

  .hero-container {
    align-items: center;
    gap: 124px;
  }

  .hero-content-wrapper {
    min-width: 570px;
    padding: 40px 23px 40px 30px;
    margin-bottom: 40px;
    background-color: var(--background-color);
  }

  .hero-background {
    min-height: 432px;
  }

  .hero-header {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(63 / 48);
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  .hero-text {
    margin-bottom: 52px;
  }

  .hero-secondary-text {
    font-size: 25px;
    line-height: calc(38 / 25);
    margin-bottom: 5px;
  }

  .about-section {
    padding-bottom: 138px;
  }

  .about-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  /* ----------------- FEATURES ----------------- */
  .features-section {
    min-height: 1714px;
    background-image: url("../images/features/features-bg-tablet.jpg");
  }
  .features-picture {
    margin-left: 65px;
  }

  .features-container {
    max-width: 1170px;
  }

  .features-item {
    max-width: 297px;
  }
  .features-item-header {
    font-size: 25px;
  }

  .features-item.features-item-one {
    top: 0;
    left: 436px;
  }
  .features-item.features-item-two {
    top: 300px;
    left: 33px;
  }
  .features-item.features-item-three {
    top: 818px;
    left: 33px;
  }

  .features-item.features-item-four {
    top: 300px;
    right: 49px;
  }

  .features-item.features-item-five {
    top: 818px;
    right: 49px;
  }

  .features-item.features-item-six {
    bottom: -147px;
    left: 436px;
  }

  .download-container {
    gap: 80px;
  }

  .download-info-wrapper {
    max-width: 570px;
  }

  .download-links-wrapper {
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 60px;
  }

  /* ----------------- USAGE ----------------- */
  .section-usage {
    background-image: url("../images/usage/usage-desktop-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 216px;
    min-height: 477px;
  }

  .section-usage-header {
    margin-bottom: 23px;
    max-width: 600px;
  }

  .usage-container {
    max-width: 600px;
  }

  .section-usage-video {
    width: 779px;
    height: 319px;
  }

  /* ----------------- TEAM ----------------- */

  .section-team {
    padding-top: 280px;
  }

  .section-team-header {
    margin-bottom: 23px;
  }

  .section-team-text {
    margin-bottom: 60px;
  }

  .section-team-list {
    gap: 30px;
  }

  .section-team-list > .section-team-item {
    max-width: 370px;
  }

  .team-photo-container {
    margin-bottom: 66px;
  }

  .section-team-item-header {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(47 / 31);
    margin-bottom: 0;
  }

  .section-team-item-job {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
  }

  .photo-border {
    top: 32px;
    left: -8px;
    width: 108%;
  }

  .section-team-item-text {
    max-width: 326px;
    margin-bottom: 40px;
  }

  /* ----------------- CUSTOMERS ----------------- */
  .section-customers-item {
    max-width: 770px;
    margin: 0 auto;
  }

  .customers-item-header {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(47 / 31);
  }

  .customers-item-job {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
  }

  /* ----------------- BLOG ----------------- */
  .section-blog-container {
    width: 1170px;
  }

  .section-blog-list > .section-blog-item {
    width: 390px;
  }

  .section-blog-header {
    margin-bottom: 23px;
  }

  .section-blog-text {
    margin-bottom: 60px;
  }

  .blog-item-wrapper {
    width: 100%;
    padding: 40px 17px 36px;
    margin: 0;
  }

  .section-blog-item-text {
    margin-bottom: 28px;
  }

  .section-blog-item-header {
    width: 334px;
  }

  /* ----------------- FOOTER ----------------- */

  .contacts-card {
    width: 1170px;
  }

  .contacts-icon {
    width: 100px;
    height: 100px;
    margin-right: 18px;
  }

  .contacts-link {
    font-weight: 600;
    font-size: 25px;
    line-height: calc(38 / 25);
    text-transform: lowercase;
  }

  .footer-contacts-list > .footer-contacts-item {
    padding: 65px 0 65px 50px;
  }

  .footer-contacts-item:first-child::after {
    height: 117px;
    top: 40px;
  }

  .footer-content-wrapper {
    align-items: stretch;
    padding-top: 235px;
    padding-bottom: 66px;
    gap: 32px;
  }

  .logo-wrapper {
    width: 369px;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-links {
    width: 369px;
  }

  .newsletter {
    width: 369px;
  }
}
