@media screen and (min-width: 375px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-section {
    padding-bottom: 92px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* ----------------- FEATURES ----------------- */
  .features-section {
    background-image: url("../images/features/features-bg-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .features-section-header {
    color: var(--background-color);
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
  }

  .features-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .features-item-header {
    color: var(--background-color);
    margin-bottom: 18px;
  }

  .features-text {
    color: var(--background-color);
    margin-bottom: 32px;
  }

  .features-item-text {
    color: var(--background-color);
  }

  .features-icon {
    margin-bottom: 30px;
  }

  /* ----------------- DOWNLOAD ----------------- */
  .download-links-wrapper {
    margin-bottom: 60px;
  }

  /* ----------------- USAGE ----------------- */
  .section-usage {
    padding-bottom: 76px;
  }

  /* ----------------- TEAM ----------------- */
  .section-team {
    padding-top: 135px;
  }

  .section-team-container {
    text-align: center;
  }

  .section-team-text {
    margin-bottom: 40px;
  }

  .team-photo-container {
    position: relative;
    width: fit-content;
    margin: 0 auto 77px auto;
    padding-top: 40px;
  }

  .team-member-photo {
    display: block;
    z-index: 100;
  }

  .photo-border {
    position: absolute;
    top: 32px;
    left: -8px;
    width: 108%;
    z-index: 0;
  }

  .section-team-item {
    padding-bottom: 53px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .section-team-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .section-team-item-header {
    font-weight: 700;
    margin-bottom: 0;
  }

  .section-team-item-job {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-transform: uppercase;

    color: var(--primary-text-color);
    margin-bottom: 14px;
  }

  .section-team-item-text {
    margin-bottom: 29px;
  }

  .team-social-list {
    display: flex;
    justify-content: center;
  }

  .team-social-item {
    position: relative;
    width: 85px;
  }

  .team-social-item:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 24px;
    background-color: var(--headers-color);
  }
}
