@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ----------------- HERO ----------------- */

  .section-hero {
    background-image: url("../images/hero/bg-tablet.jpg");

    padding-top: 414px;
    padding-bottom: 229px;
  }

  .hero-container {
    display: flex;
    align-items: flex-end;
  }

  .hero-content-wrapper {
    min-width: 356px;
    min-height: 318px;
    padding: 14px 7px 14px 18px;
    /* margin-bottom: 40px; */
    background-color: var(--background-color);
  }

  .decoration-pic-wrapper {
    top: -33px;
    right: -35px;
  }
  .hero-header {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(47 / 31);
    margin-bottom: 0;
  }

  .hero-text,
  .hero-secondary-text {
    margin-bottom: 23px;
  }

  .about-section {
    padding-bottom: 159px;
  }

  .section-header {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(47 / 31);
  }

  .about-main-text {
    max-width: 450px;
    margin: 0 auto 60px auto;
  }

  .about-wrapper {
    flex-direction: row;
    gap: 60px;
  }
  /* ----------------- FEATURES ----------------- */
  .features-section {
    min-height: 1300px;
    background-image: url("../images/features/features-bg-tablet.jpg");
  }
  .features-container {
    max-width: 700px;
  }

  .features-wrapper {
    position: relative;
    padding-top: 180px;
  }

  .features-item {
    position: absolute;
    max-width: 225px;
  }

  .features-text {
    margin-bottom: 60px;
  }

  .features-item.features-item-one {
    top: 0;
    left: 230px;
    margin-bottom: 60px;
  }
  .features-item.features-item-two {
    text-align: right;
    top: 242px;
    left: 0;
    margin-bottom: 86px;
  }
  .features-item.features-item-three {
    text-align: right;
    top: 512px;
    left: 0;
  }

  .features-item.features-item-four {
    top: 242px;
    right: 10px;
    text-align: left;
  }

  .features-item.features-item-five {
    top: 512px;
    right: 10px;
    text-align: left;
  }

  .features-item.features-item-six {
    bottom: -132px;
    left: 230px;
  }

  /* ----------------- DOWNLOAD ----------------- */
  .download-container {
    display: flex;
    gap: 28px;
  }
  .download-info-wrapper {
    max-width: 329px;
  }

  .download-links-wrapper {
    justify-content: space-around;
    margin-bottom: 40px;
  }

  /* ----------------- USAGE ----------------- */
  .section-usage {
    padding-top: 49px;
  }

  .usage-container {
    max-width: 450px;
  }

  .section-usage-header {
    margin-bottom: 18px;
    max-width: 357px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-usage-text {
    margin-bottom: 60px;
  }

  .section-usage-video {
    width: 570px;
    height: 231px;
  }

  /* ----------------- TEAM ----------------- */
  .section-team {
    padding-top: 235px;
  }

  .section-team-text {
    margin-bottom: 32px;
  }

  .section-team-list {
    display: flex;
    gap: 24px;
  }

  .section-team-list > .section-team-item {
    max-width: 213px;
    margin-bottom: 0;
  }

  .team-photo-container {
    margin-bottom: 11px;
  }

  .photo-border {
    top: 33px;
    left: -6px;
  }

  .section-team-item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
    margin-bottom: 9px;
  }

  .section-team-item-job {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 18px;
  }
  /* ----------------- CUSTOMERS ----------------- */
  .section-customers {
    background-image: url("../images/customers/tablet-bg.jpg");
  }

  .section-customers-container {
    text-align: center;
  }
  .section-customers-header {
    font-weight: 700;
    font-size: 31px;
    line-height: calc(47 / 31);

    text-transform: uppercase;
  }
  .section-customers-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 450px;
  }

  .section-customers-item {
    max-width: 688px;
  }

  /* ----------------- BLOG ----------------- */
  .section-blog-container {
    width: 748px;
  }
  .section-blog-list {
    display: flex;
    gap: 24px;
  }

  .section-blog-list > .section-blog-item {
    min-width: 234px;
    margin-bottom: 0;
  }

  .blog-item-wrapper {
    padding: 30px 17px;
    width: 100%;
  }

  .section-blog-item-text {
    margin-bottom: 40px;
  }

  .section-blog-item-header {
    width: 196px;
  }

  /* ----------------- FOOTER ----------------- */
  .footer-container {
    display: flex;
  }

  .contacts-card {
    width: 688px;
    height: auto;
    padding: 0;
  }

  .footer-contacts-list > .footer-contacts-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 45px 18px;
  }

  .contacts-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: 17px;
  }

  .logo-wrapper {
    padding-top: 0;
  }

  .footer-contacts-list {
    display: flex;
    align-items: center;
  }

  .footer-content-wrapper {
    display: flex;
    align-items: end;
    gap: 24px;
    padding-bottom: 56px;
    padding-top: 135px;
  }

  .footer-contacts-item {
    flex-basis: 50%;
  }

  .footer-contacts-item:first-child {
    position: relative;
  }

  .footer-contacts-item:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 3px;
    height: 106px;
    background-color: #6c6c72;
  }

  .contacts-link {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .logo-wrapper {
    width: 213px;
    margin-bottom: 0;
  }

  .logo-text {
    margin-bottom: 30px;
  }

  .footer-links {
    width: 213px;
    margin-bottom: 0;
  }

  .link-header,
  .newsletter-header {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20);
  }

  .newsletter {
    width: 213px;
  }

  .newsletter-text {
    margin-bottom: 30px;
  }

  .footer-email {
    padding-left: 15px;
  }

  .footer-email::placeholder {
    font-weight: 300;
    font-size: 12.8px;
    line-height: calc(13 / 12.8);
    color: #6c6c72;
  }

  .form {
    padding: 0;
  }

  .btn-subscribe {
    width: 52px;
  }

  .copyright-wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .copyright-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  .copyright-icon {
    width: 24px;
    height: 24px;
  }
}
